.project_set {
	padding-top: 5rem;
	font-family: 'Ruda', sans-serif;
	text-align: center;
	color: #1A46E3;
  font-weight: bold;
}

.carousel {
  height: 500px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  margin: 2rem auto;
  border-radius: 5px;
}

.carousel_cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  background: #ccc;
  border-radius: 5px;
}

/*Target the classes maintain by the cdn for flickity*/
.flickity-viewport{
  height: 100%;
}

.head{
	font-family: 'Ruda', sans-serif;
	text-align: center;
	color: #1A46E3;
  font-size: xx-large;
  font-weight: bold;
}