.carou{
  margin: auto;
  width: 75%;
  margin-top: 3rem;
}

.head{
  font-family: 'Ruda', sans-serif;
	text-align: center;
	color: #1A46E3;
  font-size: xx-large;
  font-weight: bold;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.title{
  margin: 5rem auto;
}
