* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {
	background-image: url(./images/bg_pic.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  background-color: #cccccc;
	font-family: 'Ruda', sans-serif;
}

.f_center{
	text-align: center;
	width: 100%;
}