.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
	background-color: black;
	font-family: 'Ruda', sans-serif;
}
#wrapper {
	/* background-image: url("s.jpeg"); */
	height: 350vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#link1 img {
	width: 80px;
	height: 40px;
}
nav {
	font-family: 'Ruda', sans-serif;
	font-size: 30px;
}
.nav-link {
	margin-right: 120px;
	margin-left: 120px;
}
#home {
	color: black;
	font-family: 'Ruda', sans-serif;
	font-size: 300px;
	text-align: center;
	margin-bottom: 30px;
}
#home img {
	margin-top: 100px;
	margin-bottom: 30px;
	width: 30%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}
#meet {
	height: 700px;
	font-family: 'Ruda', sans-serif;
	text-align: center;
	background-color: white;
	padding-top: 30px;
	color: #1A46E3;
}
#projects {
	margin-top: 250px;
	height: 700px;
	font-family: 'Ruda', sans-serif;
	text-align: center;
	background-color: white;
	padding-top: 30px;
	color: #1A46E3;
}
.clearfloat {
	clear: both;
}
